.sampler { text-align: center; }

.samplerControls {
  display: flex;
  margin-bottom: 1rem;
}
p {
  button {
    min-width: 68px;
  }
}
p:hover { color: darkviolet; }

.info {
  h1 {
    font-size: x-large;
  }
  img {
    width: 10rem;
    filter: invert(1);
  }
}
