.controlPanel {margin-top: .5rem;}
.controls {cursor: pointer;}
#prev {margin-left: 2rem;}
#next {margin-right: 2rem;}
.controls.icon.arrow {transform: rotate(90deg);}
.controls.selected  {background-color: #7a42f4;}
.controls:active:visited {background-color: #333333;}
.controls.icon {
  margin-right: 1rem;
  margin-left: 1rem;
  position: relative;
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
  display:inline-flex;
  font-size: 2.5rem;
  z-index: 1;
}

#sampleInfo {
  display: inline-flex;
  margin-top: 1rem;
  h3 {
    font-size: large;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    img {
      filter: invert(.9);
      width: 8rem;
      margin-top: 2rem;
    }
  }
}
#wavetype-selector {
  z-index: 1;
}
//select#waveType {
//  margin-bottom: 1rem;
//  background: black;
//  color: whitesmoke;
//  z-index: 5;
//}




