<mat-card>
  <mat-card-content class="sampler">

    <div class="samplerControls">
      <p><button mat-button (click)="prevSample()"><i class="material-icons">skip_previous</i></button></p>
      <p><button mat-button (click)="playSample()" *ngIf="!playing"><i class="material-icons">play_arrow</i></button></p>
      <p><button mat-button (click)="pauseSample()" *ngIf="playing"><i class="material-icons">pause</i></button></p>
      <p><button mat-button (click)="stopSample()"><i class="material-icons">stop</i></button></p>
      <p><button mat-button (click)="nextSample()"><i class="material-icons">skip_next</i></button></p>
    </div>

    <div class="info">
      <h1>{{note}}</h1>
      <img src="{{waveTypeIcon}}">
    </div>

    <mat-form-field>
      <mat-select [(ngModel)]="waveType" (change)="update()">
        <mat-option value="">Sin</mat-option>
        <mat-option value="square">Square</mat-option>
        <mat-option value="saw">Sawtooth</mat-option>
        <mat-option value="tri">Triangle</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>
</mat-card>


