<div id="next" class="arrow controls icon icon-down-arrow" (click)="prevSample()"></div>
<div class="controls icon icon-play-button" (click)="playSample()"></div>
<!--<div class="controls icon icon-pause-sign" (click)="pauseSample(this)"></div>-->
<div class="controls icon icon-stop-button" (click)="stopSample()"></div>
<div id="prev" class="arrow controls icon icon-up-arrow" (click)="nextSample()"></div>

<div id="sampleInfo"><h3>{{note}}<span><img src="{{typeIcon}}"></span></h3></div>

<article>
  <select id="waveType" aria-disabled="true" (change)="selectChangeHandler($event)">
    <option id="sin" value="">Sin</option>
    <option id="sqr" value="square">Square</option>
    <option id="saw" value="saw">Sawtooth</option>
    <option id="tri" value="tri">Triangle</option>
  </select>
</article>

<mat-card class="clear">
  <mat-card-content>
    <section class="option-section">
      <mat-slide-toggle class="example-margin" [(ngModel)]="loop" (change)="setLoop()">Loop</mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>
