@import "util/reset";
@import "util/animation";
@import "util/spinner";
@import "fonts/icons";
@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,400italic,500italic);

$black: #000;
$buttonColor: #333333;
$buttonHoverColor: #7a42f4;
$buttonIconColor: #EEEEEE;
$buttonContainerBackground: #111;

html{font-size: 62.5%;}
body,html{
	width:100%;
	height:100%;
	color:$black;
	font-family: 'Roboto', sans-serif;
	background-color: #141414;
}

#freqToggler {
	display: inline-flex;
}
#spectrogram {
	position: fixed;
	top: 0;
	left: 0;
	width: 145%;
	height: 95%;
	z-index: 99;
	opacity: 0.4;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(98%);
}
#legend{
	opacity: 0.5;
	z-index: 98;
}
#freqSample {
	color: $buttonIconColor;
	font-size: large;
	padding: 5%;
}

#type-label {
	font-size: medium;
	padding-right: 5%;
}
#waveform {
	font-size: medium;
	display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#controlPanel {
  margin-top: .5rem;
  margin-bottom: 4rem;
}
.menu-button {
  background-color: $buttonColor;
  color: $buttonIconColor;

  width: 5rem;
  //z-index: 1000;
  height: 5rem;
  display: inline-block;
  border-radius: 90rem;
  //overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-left: 1.1rem;
  margin-top: 1.5rem;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &.selected  {
    background-color: $buttonHoverColor;
  }
  &:active, &:visited {
    background-color: $buttonColor;
  }
  .icon {
    vertical-align: middle;
    display:inline-block;
    font-size: 4rem;
    line-height: 125%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    margin: auto;
    pointer-events: none;
    display:none;
  }
}
.music-box__buttons {
	position: fixed;
	bottom: 0;
	z-index: 100;
	//white-space: nowrap;
	background-color: transparent;
	//padding-left: 2rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	width: 25em;
	height: 100%;
	text-align: center;
	//text-decoration-color: #EEEEEE;
	//overflow-x: scroll;
}

.music-box__buttons__button {
	background-color: $buttonColor;
	color: $buttonIconColor;

	width: 7rem;
	height: 7rem;
	display: inline-block;
	border-radius: 30rem;
	//overflow: hidden;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 1.1rem;
	position: relative;
	text-align: center;
	vertical-align: middle;

	&.selected  {
		background-color: $buttonHoverColor;
	}
	&:active, &:visited {
		background-color: $buttonColor;
	}
	.icon {
		vertical-align: middle;
		display:inline-block;
		font-size: 5rem;
		line-height: 125%;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
		height: 80%;
		margin: auto;
		pointer-events: none;
		display:none;
	}
}

.music-box__buttons__toggle {
	background-color: $buttonColor;
	color: $buttonIconColor;

	width: 4rem;
	height: 4rem;
	display: inline-flex;
	border-radius: 30rem;
	//overflow: hidden;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 1.1rem;
	position: relative;
	text-align: center;
	//vertical-align: middle;

	&.selected  {
		background-color: $buttonHoverColor;
	}
	&:active, &:visited {
		background-color: $buttonColor;
	}
	.icon {
		vertical-align: middle;
		display:inline-flex;
		font-size: 3rem;
		line-height: 125%;
		margin-left: .4rem;
		transform: rotate(90deg);
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
		height: 80%;
		margin: auto;
		pointer-events: none;
		display:none;
	}
}

.music-box__buttons__sampler {
	background-color: $buttonColor;
	color: $buttonIconColor;

	width: 4rem;
	height: 4rem;
	display: inline-flex;
	border-radius: 30rem;
	//overflow: hidden;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 1.1rem;
	position: relative;
	text-align: center;
	//vertical-align: middle;

	&.selected  {
		background-color: $buttonHoverColor;
	}
	&:active, &:visited {
		background-color: $buttonColor;
	}
	.icon {
		vertical-align: middle;
		display:inline-flex;
		font-size: 3rem;
        margin-left: .8rem;
        margin-top: .25rem;
		line-height: 125%;
		transform: rotate(0deg);

	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
		height: 80%;
		margin: auto;
		pointer-events: none;
		display:none;
	}
}

.music-box__buttons__record {
  background-color: $buttonColor;

  width: 4rem;
  height: 4rem;
  display: inline-flex;
  border-radius: 30rem;
  //overflow: hidden;
  //box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-right: 1.1rem;
  position: relative;
  text-align: center;
  //vertical-align: middle;

  &.selected  {
  }
  &:active, &:visited {
    background-color: $buttonColor;
  }
  .icon {
    vertical-align: middle;
    display:inline-flex;
    font-size: 3.5rem;
    line-height: 125%;
    margin-left: .2rem;
    margin-top: -.15rem;
    transform: rotate(0deg);

  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    margin: auto;
    pointer-events: none;
    display:none;
  }
}

@keyframes rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.music-box__tool-tip{
	position: fixed;
	top: 50%;
	left: 50%;
	color:white;
	background-color: #fe632d;
	padding:2rem;
	z-index: 100;
	transform: translate(-50%,-50%);
	font-size: 1.2rem;
	text-transform: uppercase;
}

//.music-box__modal {
//	display: none;
//	position: fixed;
//	top: 0;
//	left: 0;
//	z-index: 200;
//	width: 100%;
//	height:100%;
//	background-color: rgba(0,0,0,.8);
//}
//
//
//.music-box__modal__message {
//
//	position:fixed;
//	top: 40%;
//	left: 50%;
//	width: 100%;
//	transform: translate(-50%,-50%);
//	// background-color: #fff;
//	padding: 3rem;
//	border-radius: 0.2rem;
//	// box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//	svg{
//		display: block;
//		margin-left: auto;
//		margin-right: auto;
//	}
//	img{
//		width: 10vw;
//		height: 10vw;
//		transform:rotate(0deg);
//		animation: rotate 0.7s linear infinite;
//	}
//}
//
//.music-box__modal__message__text {
//	color: #fff;
//	font-size: 4rem;
//	font-weight: 200;
//	text-align: center;
//	margin-bottom: 3.5rem;
//	text-transform: capitalize;
//}
//
//.music-box__modal__message__explainer {
//	color: #fff;
//	font-size: 2rem;
//	font-weight: 200;
//	text-align: center;
//	margin-top: 3.5rem;
//}
//
//.music-box__modal__icon {
//	color: #fff;
//	font-size: 7rem;
//	position: absolute;
//	left: 50%;
//	top: 50%;
//	transform: translate(-50%,-46%);
//}
//
//.music-box__modal__record-rings{
//	position: absolute;
//	width: 20rem;
//	height: 20rem;
//	border: 0.1rem solid $buttonHoverColor;
//	left: 50%;
//	top: 50%;
//	transform: translate(-50%,-50%);
//	border-radius: 30rem;
//	animation-name: sonar-animation;
//	animation-duration: 2s;
//	animation-iteration-count: infinite;
//	animation-timing-function: ease-out;
//	opacity: 0;
//	 &:nth-child(1){
//		animation-delay:0s
//	}
//	&:nth-child(2){
//		animation-delay:.3s
//	}
//	&:nth-child(3){
//		animation-delay:.6s
//	}
//	&:nth-child(4){
//		animation-delay:.9s
//	}
//	&:nth-child(5){
//		animation-delay:1.2s
//	}
//}

//#iosButton{
//	display:block;
//	position: fixed;
//	z-index: 5000;
//	background-color: #fff;
//	width: 100%;
//	height: 100%;
//	&.hide{
//		display:none;
//	}
//}
//---------------------------------------------------------------
.uploads {
  width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
  height: 30vh;
  overflow-y: scroll;
}

.uploads a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.uploads a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.uploads a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
//---------------------------------------------------------------
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.icon-bird:before, .icon-down-arrow:before, .icon-draw:before, .icon-grid1:before, .icon-grid:before, .icon-menu:before, .icon-mic:before, .icon-pause-sign:before, .icon-play-button:before, .icon-rec:before, .icon-rotate-arrows:before, .icon-stop-button:before, .icon-stoprecord:before, .icon-up-arrow:before, .icon-wave:before, .icon-wine:before {
  font-family: icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none
}

.icon-bird:before {
  content: ""
}

.icon-down-arrow:before {
  content: ""
}

.icon-draw:before {
  content: ""
}

.icon-grid:before {
  content: ""
}

.icon-grid1:before {
  content: ""
}

.icon-menu:before {
  content: ""
}

.icon-mic:before {
  content: ""
}

.icon-pause-sign:before {
  content: ""
}

.icon-play-button:before {
  content: ""
}

.icon-rec:before {
  content: ""
}

.icon-rotate-arrows:before {
  content: ""
}

.icon-stop-button:before {
  content: ""
}

.icon-stoprecord:before {
  content: ""
}

.icon-up-arrow:before {
  content: ""
}

.icon-wave:before {
  content: ""
}

.icon-wine:before {
  content: ""
}
