@import "util/reset";
@import "util/animation";
@import "util/spinner";
@import "fonts/icons";
@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,400italic,500italic);

$black: #000;
$buttonColor: #333333;
$buttonHoverColor: #7a42f4;
$buttonIconColor: #EEEEEE;
$buttonContainerBackground: #111;

html{font-size: 62.5%;}
body,html{
	width:100%;
	height:100%;
	color:$black;
	font-family: 'Roboto', sans-serif;
	background-color: #141414;
}


#spectrogram {
	position: fixed;
	top: 0;
	left: 0;
	width: 145%;
	height: 95%;
	z-index: 99;
	opacity: 0.4;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(98%);
}
#legend{
	opacity: 0.5;
	z-index: 98;
}

.components {
  margin-left: 6rem;

}
.componentContainer {
  z-index: 0;
}
.menu-button {
  background-color: $buttonColor;
  color: $buttonIconColor;

  width: 5rem;
  //z-index: 1000;
  height: 5rem;
  display: inline-block;
  border-radius: 90rem;
  //overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-left: 1.1rem;
  margin-top: 1.5rem;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &.selected  {
    background-color: $buttonHoverColor;
  }
  &:active, &:visited {
    background-color: $buttonColor;
  }
  .icon {
    vertical-align: middle;
    display:inline-block;
    font-size: 4rem;
    line-height: 125%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    margin: auto;
    pointer-events: none;
    display:none;
  }
}
.music-box__buttons {
	position: fixed;
	bottom: 0;
	z-index: 100;
	//white-space: nowrap;
	background-color: transparent;
	//padding-left: 2rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	width: 30rem;
	height: 100%;
	text-align: center;
	//text-decoration-color: #EEEEEE;
	//overflow-x: scroll;
}

.music-box__buttons__button {
	background-color: $buttonColor;
	color: $buttonIconColor;

	width: 7rem;
	height: 7rem;
	display: inline-block;
	border-radius: 30rem;
	//overflow: hidden;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 1.1rem;
	position: relative;
	text-align: center;
	vertical-align: middle;

	&.selected  {
		background-color: $buttonHoverColor;
	}
	&:active, &:visited {
		background-color: $buttonColor;
	}
	.icon {
		vertical-align: middle;
		display:inline-block;
		font-size: 5rem;
		line-height: 125%;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
		height: 80%;
		margin: auto;
		pointer-events: none;
		display:none;
	}
}

.music-box__buttons__record {
  background-color: $buttonColor;

  width: 4rem;
  height: 4rem;
  display: inline-flex;
  border-radius: 30rem;
  //overflow: hidden;
  //box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-right: 1.1rem;
  position: relative;
  text-align: center;
  //vertical-align: middle;

  &.selected  {
  }
  &:active, &:visited {
    background-color: $buttonColor;
  }
  .icon {
    vertical-align: middle;
    display:inline-flex;
    font-size: 3.5rem;
    line-height: 125%;
    margin-left: .2rem;
    margin-top: -.15rem;
    transform: rotate(0deg);

  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    margin: auto;
    pointer-events: none;
    display:none;
  }
}

@keyframes rotate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.music-box__tool-tip{
	position: fixed;
	top: 50%;
	left: 50%;
	color:white;
	background-color: #fe632d;
	padding:2rem;
	z-index: 100;
	transform: translate(-50%,-50%);
	font-size: 1.2rem;
	text-transform: uppercase;
}

//.music-box__modal {
//	display: none;
//	position: fixed;
//	top: 0;
//	left: 0;
//	z-index: 200;
//	width: 100%;
//	height:100%;
//	background-color: rgba(0,0,0,.8);
//}
//
//
//.music-box__modal__message {
//
//	position:fixed;
//	top: 40%;
//	left: 50%;
//	width: 100%;
//	transform: translate(-50%,-50%);
//	// background-color: #fff;
//	padding: 3rem;
//	border-radius: 0.2rem;
//	// box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//	svg{
//		display: block;
//		margin-left: auto;
//		margin-right: auto;
//	}
//	img{
//		width: 10vw;
//		height: 10vw;
//		transform:rotate(0deg);
//		animation: rotate 0.7s linear infinite;
//	}
//}
//
//.music-box__modal__message__text {
//	color: #fff;
//	font-size: 4rem;
//	font-weight: 200;
//	text-align: center;
//	margin-bottom: 3.5rem;
//	text-transform: capitalize;
//}
//
//.music-box__modal__message__explainer {
//	color: #fff;
//	font-size: 2rem;
//	font-weight: 200;
//	text-align: center;
//	margin-top: 3.5rem;
//}
//
//.music-box__modal__icon {
//	color: #fff;
//	font-size: 7rem;
//	position: absolute;
//	left: 50%;
//	top: 50%;
//	transform: translate(-50%,-46%);
//}
//
//.music-box__modal__record-rings{
//	position: absolute;
//	width: 20rem;
//	height: 20rem;
//	border: 0.1rem solid $buttonHoverColor;
//	left: 50%;
//	top: 50%;
//	transform: translate(-50%,-50%);
//	border-radius: 30rem;
//	animation-name: sonar-animation;
//	animation-duration: 2s;
//	animation-iteration-count: infinite;
//	animation-timing-function: ease-out;
//	opacity: 0;
//	 &:nth-child(1){
//		animation-delay:0s
//	}
//	&:nth-child(2){
//		animation-delay:.3s
//	}
//	&:nth-child(3){
//		animation-delay:.6s
//	}
//	&:nth-child(4){
//		animation-delay:.9s
//	}
//	&:nth-child(5){
//		animation-delay:1.2s
//	}
//}

//#iosButton{
//	display:block;
//	position: fixed;
//	z-index: 5000;
//	background-color: #fff;
//	width: 100%;
//	height: 100%;
//	&.hide{
//		display:none;
//	}
//}
//---------------------------------------------------------------
.uploads {
  width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
  height: 30vh;
  overflow-y: scroll;
}

.uploads a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.uploads a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.uploads a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
//---------------------------------------------------------------

@import url('https://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

#menuContainer {
  background: none repeat scroll 0 0 transparent;
  //z-index: 100000000;
}

nav.sidebar-menu-collapsed {
  width: 50px; }
nav.sidebar-menu-expanded {
  width: 106px;
  margin-right: auto; }
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 rebeccapurple;
  color: white;
  padding: 20px 10px; }
nav.sidebar a#menuButton {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal;
  width: 50px; }

nav.sidebar ul {
  padding: 0;
  margin-top: 7.5rem; }
nav.sidebar ul li {
  padding: 0;
  margin-top: 3rem;
  list-style-type: none; }
nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px; }
nav.sidebar ul li a.expandable:hover {
  color: #bbbbbb; }
nav.sidebar ul li a.expandable span.expanded-element {
  margin-left: 2px;
  display: none;
  font-size: 11px;
  position: relative;
  bottom: 2px; }
nav.sidebar ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px; }
nav.sidebar ul li.active a.expandable {
  color: white !important; }
nav.sidebar ul li.active a.expandable:hover {
  color: white !important; }


