<canvas id="spectrogram"></canvas>
<canvas id="grid"></canvas>

<app-nav-menu></app-nav-menu>

<div class="components">

  <div id="samplerContainer" class="componentContainer switch">
    <app-sampler></app-sampler>
  </div>
  <div id="specialsContainer" class="componentContainer switch">
    <app-specials></app-specials>
  </div>
  <div id="playlistContainer" class="componentContainer switch">
    <app-playlist></app-playlist>
  </div>
  <div id="settingsContainer" class="componentContainer toggle">
    <app-settings></app-settings>
  </div>
  <div id="exportContainer" class="componentContainer toggle">
    <app-data-export></app-data-export>
  </div>
  <div id="loginContainer" class="componentContainer switch">
    <app-login></app-login>
  </div>

</div>
