canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(98%);
}
#spectrogram {
  position: fixed;
  top: 0;
  left: 0;
  width: 150%;
  height: 99%;
  z-index: 99;
  opacity: .7;
}
#grid {
  opacity: 0.5;
  z-index: 98;
}
.components {
  margin-left: 5rem;
  position: fixed;
  z-index: 101;
}
