<canvas id="spectrogram"></canvas>
<canvas id="legend"></canvas>

<div id="iosButton"></div>

<div class="music-box__modal" id="record">
  <div class="music-box__modal__message">
    <div class="music-box__modal__record-rings"></div>
    <div class="music-box__modal__record-rings"></div>
    <div class="music-box__modal__icon icon-mic"></div>
  </div>
</div>

<div class="music-box__modal" id="drawAnywhere">
  <div class="music-box__modal__message"></div>
</div>

<div class="music-box__buttons">

  <app-nav-menu></app-nav-menu>

  <div class="components col">

    <div id="filesContainer" class="componentContainer row">
      <app-playlist></app-playlist>
    </div>
    <div id="toggleContainer" class="componentContainer row">
      <app-toggle></app-toggle>
    </div>
    <div id="settingsContainer" class="componentContainer row">
      <app-settings></app-settings>
    </div>
    <div id="specialsContainer" class="componentContainer row">
      <app-specials></app-specials>
    </div>
    <div id="exportContainer" class="componentContainer row">
      <app-data-export></app-data-export>
    </div>
    <div id="loginContainer" class="componentContainer row">
      <app-login></app-login>
    </div>

  </div>
</div>
