.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.mat-sidenav-container {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer {
  background: #EEEEEE;
}

p {
  color: #222;
  outline: none;
}
p :hover{
  color: darkviolet;
}

.mat-sidenav {
  p{
    padding-bottom: 2vh;
    padding-top: 3vh;
  }
  p#inner{
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  #acct {
    margin-top: 35vh;
  }
}
.mat-sidenav-content {
  p {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 6rem;
    color: whitesmoke;
  }
}

