<div id="menuContainer">
  <div class="mat-app-background basic-container">
    <mat-sidenav-container ng-model="component" class="example-container" (backdropClick)="close('backdrop')">
      <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <p class="inner-menu">
          <button mat-button (click)="close()"><i class="material-icons">menu</i></button>
        </p>
        <p class="menu-item">
          <button mat-button (click)="close('sampler')"><i class="material-icons">music_note</i></button>
        </p>
        <p class="menu-item">
          <button mat-button (click)="close('playlist')"><i class="material-icons">playlist_play</i></button>
        </p>
        <p class="menu-item">
          <button mat-button (click)="close('specials')"><i class="material-icons">star</i></button>
        <p class="menu-item">
          <button mat-button (click)="close('settings')"><i class="material-icons">settings</i></button>
        </p>
        <p class="menu-item" *ngIf="!logged" id="acct-icon">
          <button mat-button (click)="close('login')"><i class="material-icons">account_box</i></button>
        </p>
      </mat-sidenav>

      <mat-sidenav-content>
        <p>
          <button id="outter-menu" mat-button (click)="sidenav.open()"><i class="material-icons">menu</i></button>
        </p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

