<div class="mat-app-background basic-container">
  <mat-sidenav-container class="nav-container" (backdropClick)="close('backdrop')">

    <mat-sidenav #sidenav (keydown.escape)="close()" [disableClose]>
      <div class="menu-items">
        <p id="inner"><button mat-button (click)="close()"><i class="material-icons">menu</i></button></p>
        <p><button mat-button (click)="close('sampler')"><i class="material-icons">music_note</i></button></p>
        <p><button mat-button (click)="close('playlist')"><i class="material-icons">playlist_play</i></button></p>
        <p><button mat-button (click)="close('specials')"><i class="material-icons">star</i></button></p>
        <p><button mat-button (click)="close('settings')"><i class="material-icons">settings</i></button></p>
        <p id="acct"><button mat-button (click)="close('login')"><i class="material-icons">account_box</i></button></p>
        <!--<p *ngIf="!logged" id="acct"><button mat-button (click)="close('login')"><i class="material-icons">account_box</i></button></p>-->
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.open()"><i class="material-icons">menu</i></button></p>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

