
.mat-sidenav-container {
  background: transparent;
  position: absolute;
  width: 20rem;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden;
}
p {
  color: #222;
  outline: none;
}
p :hover{
  color: darkviolet;
}

.mat-sidenav {
  p{
    padding-bottom: 2vh;
    padding-top: 3vh;
  }
  p#inner{
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  #acct {
    margin-top: 7.5vh;
    button {
      max-width: 5rem;
      img {
        border-radius: 50%;
        width: 75%;
      }
    }
  }
}
.mat-sidenav-content {
  p {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 6rem;
    color: whitesmoke;
  }
}



