<mat-card *ngIf="analysisType == 2" class="clear">
  <mat-card-content>
    <section class="setting-section">
      <mat-slide-toggle [color]="'primary'" class="setting-margin" [(ngModel)]="grid" (change)="toggleGrid()">Grid</mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>

<div class="analysisContainer">
  <ul>
    <li>
      <input type="radio" id="t-option" name="selector" (click)="changeType(3)">
      <div class="check"></div><label for="t-option">WaveForm</label>
    </li>
    <li>
      <input type="radio" id="s-option" name="selector" (click)="changeType(0)">
      <div class="check"></div><label for="s-option">Amp/Freq</label>
    </li>
    <li>
      <input type="radio" id="f-option" name="selector" checked (click)="changeType(2)">
      <div class="check"></div><label for="f-option">3D!</label>
    </li>
  </ul>
</div>



<!--ONLY SHOW THIS WHEN ITS 3D-->
<mat-card *ngIf="analysisType == 2" class="rotationPanel">
    <div class="labels">
      <h2>X</h2>
      <h2>Y</h2>
      <h2>Z</h2>
    </div>

  <mat-card-content class="rotationControl">
    <mat-slider (change)="rotationX()"
      class="sliders x-slider"
      [color]="'primary'"
      [disabled]="disabled"
      [invert]="invert"
      [max]=360
      [min]=0
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dx"
      [vertical]="vertical">
    </mat-slider>
    <mat-slider (change)="rotationY()"
      class="sliders y-slider"
      [color]="'primary'"
      [disabled]="disabled"
      [invert]="invert"
      [max]=360
      [min]=0
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dy"
      [vertical]="vertical">
    </mat-slider>
    <mat-slider (change)="rotationZ()"
      class="sliders z-slider"
      [color]="'primary'"
      [disabled]="disabled"
      [invert]="invert"
      [max]=360
      [min]=0
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dz"
      [vertical]="vertical">
    </mat-slider>
  </mat-card-content>

</mat-card>





