.setting-section { display: inline; }
.mat-slide-toggle { color: #CCCCCC; }
.analysisContainer {
  //margin-left: 2rem;
  position: relative;
  height: auto;
  //width: 11.25rem;
  background: #333;
  opacity: .75;
  p {
    color: #FFFFFF;
    font-size: medium;
  }
  ul {
    list-style: none;
    overflow: auto;
    li {
      color: #CCCCCC;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #111;

      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }
      input[type=radio]:checked ~ .check {border: 3px solid #7a42f4;}
      input[type=radio]:checked ~ .check::before{background: #7a42f4;}
      input[type=radio]:checked ~ label {color: #7a42f4;}

      label {
        display: block;
        position: relative;
        font-size: small;
        padding: 25px 25px 25px 35px;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }
      .check {
        display: block;
        position: absolute;
        border: 1px solid #CCCCCC;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 21.5px;
        left: 20px;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
      }
      .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 10px;
        width: 10px;
        //top: 5px;
        //left: 5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }
    }
    li:hover {
      label { color: #DDDDDD; }
      .check { border: 5px solid #7a42f4; }
    }
  }
}

.rotationPanel {
  color: #FFFFFF;
  z-index: 1;
  background-color: #222;
  opacity: .75;
  //margin-left: 2rem;
  //width: 8.25rem;

  .labels {
    display: inline-flex;
    h2 {
      padding: 0 19px 0 18px;
      font-size: 12px;
    }
  }

  .rotationControl {
    display: flex;
    .mat-slider {
      background: #222;
      width: 60px;
      left: -2px;
      min-height: 30rem;
      margin-top: 1rem;
    }
    .mat-slider-wrapper {
      background: #999;
    }
    .mat-slider-thumb {
      background: whitesmoke;
    }
  }

}
