<div class="analysisContainer">
  <!--<mat-radio-group class="example-radio-group" [(ngModel)]="analysisType">-->
    <!--<mat-radio-button class="example-radio-button" [value]="analysisType">-->
      <!--<label>WaveForm</label>-->
      <!--<div></div>-->
    <!--</mat-radio-button>-->
    <!--<mat-radio-button class="example-radio-button" [value]="analysisType">-->
      <!--<label>Amp/Freq</label>-->
      <!--<div></div>-->
    <!--</mat-radio-button>-->
    <!--<mat-radio-button class="example-radio-button" [value]="analysisType">-->
      <!--<label>3D!</label>-->
      <!--<div></div>-->
    <!--</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <ul>
    <li><input type="radio" id="t-option" name="selector">
      <label for="t-option">WaveForm</label><div class="check"></div>
    </li>
    <li><input type="radio" id="s-option" name="selector">
      <label for="s-option">Amp/Freq</label><div class="check"></div>
    </li>
    <li><input type="radio" id="f-option" name="selector" checked>
      <label for="f-option">3D!</label><div class="check"></div>
    </li>
  </ul>
</div>
<mat-card class="clear">
  <mat-card-content>
    <section class="setting-section">
      <mat-slide-toggle class="setting-margin" [(ngModel)]="grid" (change)="toggleGrid()">Grid</mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card>

<!--ONLY SHOW THIS WHEN ITS 3D-->
<mat-card class="result">
  <div class="labels">
    <h2>X</h2>
    <h2>Y</h2>
    <h2>Z</h2>
  </div>

  <mat-card-content class="rotationControl">

    <mat-slider
      class="sliders x-slider"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dx"
      [vertical]="vertical">
    </mat-slider>

    <mat-slider
      class="sliders y-slider"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dy"
      [vertical]="vertical">
    </mat-slider>

    <mat-slider
      class="sliders z-slider"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumb-label]="thumbLabel"
      [tick-interval]="tickInterval"
      [(ngModel)]="dz"
      [vertical]="vertical">
    </mat-slider>

  </mat-card-content>
</mat-card>





