.analysisContainer {
  position: relative;
  margin-top: 2rem;
  height: auto;
  width: 21rem;
  background: #444;
  p {
    color: #FFFFFF;
    font-size: medium;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    li {
      color: #CCCCCC;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      //height: 100px;
      border-bottom: 1px solid #333;

      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }
      input[type=radio]:checked ~ .check {border: 5px solid #7a42f4;}
      input[type=radio]:checked ~ .check::before{background: #7a42f4;}
      input[type=radio]:checked ~ label {color: #7a42f4;}

      label {
        display: block;
        position: relative;
        //font-weight: 100;
        font-size: 1.5em;
        padding: 25px 25px 25px 80px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }
      .check {
        display: block;
        position: absolute;
        border: 5px solid #CCCCCC;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 30px;
        left: 20px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
      }
      .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        //top: 5px;
        //left: 5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }
    }
    li:hover {
      label { color: #DDDDDD; }
      .check { border: 5px solid #7a42f4; }
    }
  }
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .example-radio-button {
    margin: 5px;
  }

  .example-selected-value {
    margin: 15px 0;
  }

}
//-------------------------------------------------------------------------------------------------------------------//

.mat-card.clear {
  background: #555;
}

.setting-section {
  //display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}

.setting-margin {
  align-content: center;
  align-items: center;
  margin: 10px;
  z-index: 1;
}

.result.mat-card {
  color: #FFFFFF;
  z-index: 1;
  background-color: #222;
  opacity: .5;
  width: 16.25rem;
  height: 45rem;
  .mat-card-content {
    .mat-slider {
      background: #222;
      min-height: 40rem;
      margin-top: 2rem;
      padding-left: 3rem;
      padding-right: 2.75rem;
      .mat-slider-wrapper {
        background: #999;
      }
    }
  }
  .labels {
    display: inline-flex;
    margin-right: 20rem;
    h2 {
      margin-right: 1.85em;
      margin-left: 1.85rem;
      font-size: medium;
    }
  }
}
.mat-card-content.rotationControl {
  display: flex;
}
