<div class="login-options">

  <div class="userInfo" *ngIf="!this.auth.isLoggedIn()">

    <div class="login-item"><span (click)="onAuth()"><img src="../../../../bin/icons/signin-assets/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png"></span></div>

  </div>


  <div class="loginInfo" *ngIf="this.auth.isLoggedIn()">

    <div class="login-item"><span><img src={{this.photo}}></span></div>
    <div class="login-item"><span (click)="onLogOut()"><img id="logout" src="../../../../bin/icons/logout.png"></span></div>

  </div>

</div>
