.login-portal-section {
  button {
    z-index: 1;
    background: #888;
    i {
      color: whitesmoke;
    }
  }
}

.avatar {
  margin-bottom: 1rem;
  img {
    border-radius: 50%;
    width: 50%;
  }
}
.mat-card-title {
  color: whitesmoke;
}
.mat-card-subtitle {
  color: whitesmoke;
}
