@font-face {
	font-family: "icons";
	src: url('bin/fonts/icons/icons.eot');
	src: url('bin/fonts/icons/icons.eot?#iefix') format('eot'),
		url('bin/fonts/icons/icons.woff') format('woff'),
		url('bin/fonts/icons/icons.ttf') format('truetype');
}

@mixin icon-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;

}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == bird {
		$char: "\E001";
	}
	@if $filename == down-arrow {
		$char: "\E002";
	}
	@if $filename == draw {
		$char: "\E003";
	}
	@if $filename == grid {
		$char: "\E004";
	}
	@if $filename == grid1 {
		$char: "\E005";
	}
	@if $filename == menu {
		$char: "\E006";
	}
	@if $filename == mic {
		$char: "\E007";
	}
	@if $filename == pause-sign {
		$char: "\E008";
	}
	@if $filename == play-button {
		$char: "\E009";
	}
	@if $filename == rec {
		$char: "\E00A";
	}
	@if $filename == rotate-arrows {
		$char: "\E00B";
	}
	@if $filename == stop-button {
		$char: "\E00C";
	}
	@if $filename == stoprecord {
		$char: "\E00D";
	}
	@if $filename == up-arrow {
		$char: "\E00E";
	}
	@if $filename == wave {
		$char: "\E00F";
	}
	@if $filename == wine {
		$char: "\E010";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-bird {
	@include icon(bird);
}
.icon-down-arrow {
	@include icon(down-arrow);
}
.icon-draw {
	@include icon(draw);
}
.icon-grid {
	@include icon(grid);
}
.icon-grid1 {
	@include icon(grid1);
}
.icon-menu {
	@include icon(menu);
}
.icon-mic {
	@include icon(mic);
}
.icon-pause-sign {
	@include icon(pause-sign);
}
.icon-play-button {
	@include icon(play-button);
}
.icon-rec {
	@include icon(rec);
}
.icon-rotate-arrows {
	@include icon(rotate-arrows);
}
.icon-stop-button {
	@include icon(stop-button);
}
.icon-stoprecord {
	@include icon(stoprecord);
}
.icon-up-arrow {
	@include icon(up-arrow);
}
.icon-wave {
	@include icon(wave);
}
.icon-wine {
	@include icon(wine);
}
