<mat-card>
  <mat-card-title>Playlist</mat-card-title>
  <mat-card-subtitle>
    <form enctype="multipart/form-data" method="post">
      <div class="file-upload">
          <input type="file" accept="audio/*" id="picked" #picked (change)="onPicked(picked)">
          <i class="material-icons up">file_upload</i>
      </div>
    </form>
  </mat-card-subtitle>
  <ul class="songs">
    <li *ngFor="let song of songs">
      <a>
        <span class="badge">
          <button (click)="playSong(song.fileURL)">
            <i class="material-icons player">play_arrow</i>
          </button>
          <!--<button (click)="pauseSong()">-->
            <!--<i class="material-icons player">pause</i>-->
          <!--</button>-->
        </span>
        <span>{{song.fileName}}</span>
      </a>
    </li>
  </ul>



</mat-card>


