.file-upload{
  //height: 4rem;
  //width: 4rem;
  border-radius: 50px;
  position:relative;

  display:flex;
  justify-content:center;
  align-items: center;

  transition: all .25s;
  color: #FFFFFF;
  font-size:50px;

  input[type='file']{
    height:200px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
  }
  &:hover{
    background-position: 0 -100%;
    color:#7a42f4;
  }
}
.up {
  font-size: 3rem;
}






.songs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
ul {
  max-height: 15rem;
  overflow-y: scroll;
}
.songs li {
  position: relative;
  cursor: hand;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  //width: 19em;
  width: auto;
}

.songs a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  width: 250px;
  font-size: 12px;
}

.songs a:hover {
  color: #7a42f4;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  i {
    color: #7a42f4;
  }
}
.player {
  font-size: medium;
}




